<div class="row">
    <div class="col-lg-8">
        <img class="img-responsive img-rounded" src="~/Content/images/banner.png">
        <!-- take out img-rounded if you don't want the rounded corners on the image -->
    </div>
    <div class="col-lg-4">
        <h1>Fleetwood and District Pool League</h1>
        <p>Welcome. This is a website for the Fleetwood and District Pool League, a not-for-profit organisation dedicated to promoting the sport of English Pool in Fleetwood and the surrounding district.</p>
        <a class="btn btn-primary btn-lg" href="./about.html">Read more</a>
    </div>
</div>

<hr>