@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>About Fleetwood and District Pool League</h2>
            <p>The League has been in existance for over 25 years, and its aim is to promote the playing of 8 Ball Pool (English Pool) in the Fleetwood and District area using rules derived from the old EPA rules.</p>
            <p>The league plays a Winter and Summer league, which consists of weekly league matches, a team-knockout competition and a singles and doubles competition.</p>
            <p>The League is a not-for-profit organisation, with an elected central commitee and a wider comittee made up of the captains from the teams in the league.</p>
            <p>For more details, see the <a href="./constitution.html">constitution</a></p>
        </div>
    </div>
</div>