@{
    ViewBag.Title = "Constitution";
}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
		    <ol type="1">
			    <li>The league shall be known as the Fleetwood and District Pool League and referred to here as “The League”.</li>
			    <li>The aim of The League is to promote the playing of 8 Ball Pool in the Fleetwood and District area using rules derived from the old EPA rules. (see Fleetwood and District Pool Rules)</li>
			    <li>The League will consist of 2 seasons, Winter and Summer, each season will contain 2 divisions where numbers allow. The bottom 2 teams from the 1st Division will be demoted and the top 2 teams from Division 2 will be promoted but the committee have the final say in league structuring due to frequent anomalies that may occur i.e. teams dropping out of the league and teams tied at the bottom of division 1. League and Team Knockout competitions will take place on a Tuesday evenings; Finals Venue will be drawn at the beginning of the season. Singles and Doubles will be scheduled to be played on Sundays, all rounds prior to Semis and Finals can be rearranged prior to the final Sunday given (games have to be played by the date given). Semi finals have to played on the date given and the Finals have to be played on Presentation Night.</li>
			    <li>The League will be run by an AGM elected committee consisting of<br><br>
			    	<dl>
					<dt>The Chair</dt>
					<dd>Mike Reaper</dd>
				</dl>
				<dl>
					<dt>Results</dt>
					<dd>James Aspinall</dd>
				</dl>
				<dl>
					<dt>Complaints Secretary</dd>
					<dd>Becci Theakston</dd>
				</dl>
				<dl>
					<dt>The Treasurer</dt>
					<dd>Jonathan Melvin</dd>
				</dl>
				<dl>
					<dt>The Fixtures and League Republic Secretary</dt>
					<dd>Matthew Kilburn</dd>
				</dl>
				<dl>
					<dt>Singles and Doubles administration</dt>
					<dd>Sharon Campbell Stott</dd>
				</dl>
				<p>Committee Members – Dave Parry-Jones, Ken Pilkington, Dave Brady</p>
				<p>The committee reserves the right to elect onto the committee any further members that it sees fit, in an emergency situation. The committee’s decision/s in all matters is final, and it reserves the right to deal with any matter in any way it deems to be correct.</p></li>
				<li><p>Fees currently set are Team Registration £50 per team and any new teams an additional £50 deposit which is refundable after successfully completing all seasons fixtures. Player Registration - pre season £2.50 per player.</p>
				<p>Late player registration is only allowed in the first 4 wks of the season without requested consent of the committee - £3.00 per player. If a team is allowed to register extra players in season they will have to remove players originally registered to make room for the new players.</p>
				<p>Singles Knockout - £2.50 per player, Doubles Knockout - £2.50 per double.</p>
				</li>
				<li>b. No persons who are subject to a Ban by the local Pub Watch scheme are eligible to register for the pool league. The league will have access to names of people who are subject to a ban by the Pub Watch scheme on monthly basis and these will be crossed referenced with the current list of registered players, any registered players found to be on the Pub Watch list will be atomically banned from the league and notification will be sent to team captains and landlords.</li>
				<li>All monies collected during the running of the League are payable to the league and not any individuals involved in the running of the league. The monies will be deposited into the leagues bank account by the treasurer. The monies and any interest accrued during the running of the league will spent solely on administrative equipment used to run the League this includes printing, website costs, purchasing of trophies, entertainment and refreshments for the league presentation nights. If the league was to no longer operate any monies remaining would be spent on the last presentation night for trophies, refreshments and entertainment.</li>
				<li>The League will hold an AGM every year and this will take place prior to the start of the Winter Season. At the AGM each team will be allowed a voting representative (usually the Captain) to vote on any issues that are raised and the election of the committee members.</li>
				<li>All Meetings will be held at the Old Comrades (if available) All Teams must send a representative to each general meeting. Failure to do so will result in a £10 fine. Fines are to be paid before the start of the next season.</li>
				<li>The league may arrange meetings at any time during a season and all teams must send a representative to any full league meeting where requested failure to comply will result in a £10 fine.</li>
				<li>Any outstanding debts to the league at the start of any season will disqualify a team from participating in the league for that season.</li>
				<li> All Venues for the following: Singles and Doubles Knockouts Semi Final, Team and Plait Knockout Finals, and Bruno Speed Pool will be pre-drawn at the beginning of the season by the committee. No new teams, no teams who consistently failed to hand in score cards or fulfil previous seasons fixtures will be entered into the draw. The Women’s Singles Knockout will always be played at the Comrades subject to availability.</li>
				<li>Presentation night will be drawn from teams expressing a desire to hold the event and the committee must deem the venue suitable to hold the event.</li>
				<li>All pool tables and accessories must reach and maintain the standard required by the league i.e. cloth to be Green woollen no speed cloths, table playing area should be 1829 x 914mm.Tables should be level and cleaned prior to games starting. Every home team must provide a cross rest as a minimum. Any venue failing to comply with the league standards maybe asked to leave the league.</li>
				<li>A copy of the league rules must be posted in each venue as close to the table as possible.</li>
				<li>The home team captain is responsible for the conduct of their teams and supporters, which should be respectful at all times.</li>
				<li>The home team should be responsible for all table fees and are expected to supply edible refreshments in the interval between singles and doubles games.</li>
				<li>All new teams to the league are require to pay £50 deposit on top of the current seasons Team Registration, this deposit is returnable if all fixtures are completed during the season.</li>
				<li>Teams are required to provide suitable notice to their opponent’s captain / landlord of the venue if they are unable to fulfil a fixture, failure to do this will result in a £15 fine. The fine will go to the team that has been stood up, to compensate for food or refreshments purchased for the match.</li>
				<li>If a team fails to fulfil any fixtures they will be required to pay the new team deposit the following season which is fully refundable if all fixtures are completed.</li>
				<li>If a team fails to fulfil 3 fixtures during a season they will be removed from the league with immediate effect.</li>
				<li>If a team fails to turn up for a fixture the opposition need to add 7 names to the score card for Golden Cue purposes.</li>
				<li>If a team are short of players for the singles they are required to provided an opponent who has already played, who will play the oppositions players to allow them to record a game for the Golden Cue, this is to be recorded on the score card as a No Player and the team who has a player must put down a name, on the back of the score card record the names and result for the purposes of the Golden Cue.</li>
			</ol>

				<h2>Match Rules</h2>
				<p>All matches must start by 8pm. If a team fails to produce its first player by this time the frame is awarded to the opposing team. Games are claimed at five minute intervals if no further players appear, up to a maximum of five games.</p>
				<ol type="1">
					<li>In the event of a team losing one or more frames before producing players, the offending captain must nominate a player or players on the card for the frames lost.</li>
					<li>Seven straight single frames will be played. Two doubles games will be played after the singles. Teams short of players will forfeit frames for which they have no player that has not already played a singles game, the team that is short of players has to put players forward to allow the opposing teams players to play for the Golden Cue this is to be recorded on the front of the card as a loss for the team and write no player, the result should be clearly written on the back of the card titled Golden Cue and the names and result. (To Win a Match a Team needs to Win 5 or more Frames)</li>
					<li>Both team captains shall agree that the venue, table and the balls are satisfactory before play commences. No complaint about these will be heard after the first ball has been struck. If the aforementioned are not satisfactory and a visiting team refuses to play the situation needs to be rectified by the captains i.e. fix the issues if possible or change the venue. If a suitable solution doesn’t arise then an official complaint needs to be lodged with the committee (see complaints procedures)</li>
					<li>The home team captain will nominate his first player in the first game of the match, and thereafter on an alternating basis.</li>
					<li>Order of play is determined by tossing a coin; the winner of the coin toss has the option of breaking, or requesting their opponent to do so.</li>
					<li>In the event that the two teams are unable to complete the match within the time limits set by the licensee, the game must resume at the same venue within 24 hours. Each team may use any players that are registered to them within the normal rules of play. No team shall be obliged to continue after 11:10pm, except to finish the game in progress.</li>
					<li>
						<ol type="a">
							<li>At the conclusion of the match both captains must sign the card. The winning captain should deliver the card to James Aspinall No later than the following Thursday 8pm. (address on score card) Failure to sign the card correctly will result in its non-acceptance, and failure to deliver it on time will result in 2 points being deducted. Failure to deliver a card a second time and 2 points will be deducted and a £10 fine will be issued.</li>
							<li>Both team Captains/ Administrators are required to reply to the League republic text message with the evening results.</li>
						</ol>
						</li>
						<li>All matches having been started will be finished, even in the event of a complaint being lodged. Any team failing to do so shall forfeit any points from being gained from the match.</li></ol>

					<h2>Singles and Doubles</h2>

					<ol type="1">
						<li>Players failing to fulfil a fixture without providing suitable notice to the event organiser will be barred from entering the competition the following season.</li>
						<li>Teams with large numbers of players failing to fulfil fixtures will be barred from the competition the following season.</li>
						<li>Singles and Doubles matches will be scheduled to be played on Sundays, all rounds prior to Semis and Finals can be rearranged prior to the final Sunday given (games have to be played by the date given). Semi finals have to be played on the date given and the Finals have to be played on Presentation Night.</li>
						<li>Results of the matches need to given to the event organiser before the following Monday at 8pm. (Preferred method of handing in results to be agreed by the event organiser and is subject to change in season if issues arise) It is not the team captains responsibility to hand in Singles and Doubles results.</li>
					</ol>

					<h2>Referees Procedure</h2>
					<ol type="1">
						<li>Only players registered may referee a league game and then no more than 2 frames in any one evening. Games are refereed by a representative from alternating teams. The captains are responsible that their chosen referee is conversant with the league and match rules.</li>
						<li>The referee’s decision is always final.</li>
						<li>Deliberate interference with the balls or equipment by any player will result in the game being awarded by the referee to the non offending player.</li>
						<li>The referee will endeavour to ensure that the games will be played at a reasonable speed and may in cases of slow play ask the offending player to speed up. Failure to heed to the referee’s warning may result in the match being awarded to the non-offending player.</li>
						<li>With exception of partners in doubles games, when not in control of the table, no person shall be permitted to advise, instruct or otherwise intimate to any player as to the taking of any shot or any other aspect of the game during play. Team captains shall be responsible for remarks made by their players or supporters in this respect. Control to be when the previous shot becomes stationary and the referee calls their colour, at no point will no single/ double not be in control of the table. Doubles partners are not allowed to talk once 
						they have taken control of the table, no further discussion may take place until the end of their visit.</li.>
						<li>Any player who, in his opinion of the referee, lays down or starts to dismantle their cue in an obvious concession of the frame, when his opponent has not potted the black ball shall be deemed to have conceded the game and the referee may place the black ball in the pocket before the shot is played.</li>
						<li>The referee should ensure that the game is played within the rules, and should announce all the shots as appropriate for the benefit of the players and the spectators. The referee should ensure where possible a player is aware of the rules thus preventing unnecessary fouls.</li>
						<li>In order to carry out these duties, the referee shall be in a position that a clear view of the table and the player is available, without any obstruction or distraction to players, and also bearing in mind the spectators view.</li.>
						<li>If a player refuses to accept the decision of the referee, then the game shall be abandoned and the matter reported to the league committee but match rule 8 applies.</li>
					</ol>

					<h2>Complaints Procedure</h2>
					<ol type="1">
						<li>All complaints must be made in writing to the Complaints Secretary Becci Theakston (and delivered to the address on the score card) within 48hrs of the matter arising and accompanied by a £5 deposit which may or may not be returned. The committee’s decision is final. No member of the committee shall sit at a dispute in which his team is involved.</li>
						<li>Any team not providing edible refreshments must be reported to the Complaints Secretary Becci Theakston in writing (and posted to the address on the score card), no deposit fee needed.</li>
						<li>Any team the subject of a complaint must be notified of the reason for the complaint at the match venue before leaving unless the complaint is a conduct complaint about a team which is felt by mentioning it to the team would cause a confrontation. Conduct complaints are still subject Complaint Procedure 1.</li>
						<li>Any complaints regarding the result of the game must be marked on the RESULTS CARD as COMPLAINT PENDING.</li>
					</ol>

					<p><strong>
						AMENDMENTS AND ALTERATIONS TO THE LEAGUE CONSTITUTION GAME RULES MAY ONLY BE MADE AT THE LEAGUE ANNUAL,GENERAL MEETING, AND 14 DAYS NOTICE IN WRITING MUST BE GIVEN TO THE LEAGUE SECRETARY. </strong></p>
		    
            </div>
        </div>
    </div>
