@{
    ViewBag.Title = "Contact";
}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
			<p>Contact the Pool League via the Pool League's Facebook page.</p>
			<p>If you'd like to help out with the website, and you have experience with ASP.NET MVC, C#, HTML5 and Javascript, contact Stuart Grassie either via the Facebook group, or twitter (<a href="http://twitter.com/stugrassie">@@stugrassie</a>).
                </div>
            </div>
        </div>
    </div>